@media screen and (min-width: 1014px) {
  body[betteryt-comments-fixed] ytd-comments {
    overflow-x: hidden !important;
    overflow-y: auto !important;
    position: fixed !important;
    width: calc(var(--ytd-watch-flexy-sidebar-width)) !important;
    height: calc(100vh - 100px);
  }
}
