body[betteryt-mini] .html5-main-video {
  top: 0px !important;
  left: 0px !important;
  width: var(--ytd-miniplayer-width) !important;
  height: var(--ytd-miniplayer-height) !important;
  object-fit: contain !important;
}

body[betteryt-mini] .ytp-chrome-controls {
  width: calc(var(--ytd-miniplayer-width) - 2px);
}

body[betteryt-mini] .ytp-chrome-bottom {
  left: 1px !important;
}

body[betteryt-mini] .ytp-chrome-bottom .ytp-progress-bar-container,
body[betteryt-mini] .ytp-chrome-top,
body[betteryt-mini] .ytp-iv-player-content,
body[betteryt-mini] a[aria-label*='Previous'],
body[betteryt-mini] a[aria-label*='Next'],
body[betteryt-mini] div[class='ytp-chapter-container'],
body[betteryt-mini] button[aria-label*='Autoplay'],
body[betteryt-mini] button[aria-label*='Subtitles'],
body[betteryt-mini] button[aria-label*='Settings'],
body[betteryt-mini] button[aria-label*='Switch camera'],
body[betteryt-mini] button[aria-label*='Theater mode (t)'],
body[betteryt-mini] button[aria-label*='Play on TV'],
body[betteryt-mini] button[aria-label*='AirPlay'],
body[betteryt-mini] button[title*='Full screen'],
body[betteryt-mini] #ytp-caption-window-container,
body[betteryt-mini] .ytp-ce-shadow,
body[betteryt-mini] .ytp-ce-element,
body[betteryt-mini] .ytp-gradient-top,
body[betteryt-mini] .ytp-gradient-bottom:not(.betteryt) {
  display: none !important;
}

body:not([betteryt-mini]) .betteryt.ytp-progress-bar-container,
body:not([betteryt-mini]) .betteryt.ytp-gradient-bottom {
  display: none;
}
