@media screen and (min-width: 1014px) {
  body[betteryt-theater] #chat {
    position: absolute;
    top: 0px;
    right: 0px;
    width: var(--ytd-watch-flexy-sidebar-width);
    height: 100vh !important;
    border: none;
  }

  body[betteryt-theater] #player-theater-container {
    top: 0px;
    left: 0px;
    width: calc(100% - var(--ytd-watch-flexy-sidebar-width)) !important;
    max-width: calc(100% - var(--ytd-watch-flexy-sidebar-width)) !important;
    height: 100vh !important;
    max-height: 100vh !important;
  }

  body[betteryt-theater] #show-hide-button {
    display: none;
  }

  body[betteryt-theater] {
    overflow: hidden;
  }

  body[betteryt-theater] ytd-app {
    --ytd-masthead-height: 0px !important;
  }

  body[betteryt-theater] button[aria-label*='Scroll for details'] {
    display: unset !important;
    position: absolute;
    width: auto;
    left: 50%;
    bottom: -10%;
    transform: translateX(-50%);
    transition: all 0.25s cubic-bezier(0, 0, 0.2, 1) !important;
    opacity: 0 !important;
    visibility: hidden;
  }

  body[betteryt-theater]
    ytd-app[masthead-hidden]
    button[aria-label*='Scroll for details'] {
    opacity: 1 !important;
    visibility: visible;
  }

  /* check for DVH support, this fixs mobile */
  @supports (height: 100dvh) {
    body[betteryt-theater] #chat {
      height: 100dvh !important;
    }

    body[betteryt-theater] #player-theater-container {
      height: 100dvh !important;
      max-height: 100dvh !important;
    }
  }
}
