body[betteryt-mini] {
  .html5-main-video {
    top: 0px !important;
    left: 0px !important;
    width: var(--ytd-miniplayer-width) !important;
    height: var(--ytd-miniplayer-height) !important;
    object-fit: contain !important;
  }

  .ytp-chrome-controls {
    width: calc(var(--ytd-miniplayer-width) - 2px);
  }

  .ytp-chrome-bottom {
    display: unset !important;
    left: 1px !important;
    margin-bottom: 5px;
  }

  .ytp-left-controls
    > *:not(.ytp-play-button, .ytp-volume-area, .ytp-time-display),
  .ytp-right-controls > *:not(.ytp-miniplayer-button),
  #movie_player
    > *:not(
      .html5-video-container,
      .ytp-spinner,
      .ytp-chrome-bottom,
      .betteryt
    ),
  .ytp-chrome-bottom .ytp-progress-bar-container,
  .expander.ytd-miniplayer,
  .index-message.ytd-miniplayer {
    display: none !important;
  }

  ytd-miniplayer {
    display: unset !important;
  }

  .ytp-miniplayer-button {
    display: unset !important;
  }

  #info-bar {
    cursor: pointer;

    *:not(.metadata) {
      pointer-events: none;
    }
  }
}

body:not([betteryt-mini]) {
  .betteryt.ytp-progress-bar-container,
  .betteryt.ytp-gradient-bottom {
    display: none;
  }
}

body[betteryt-live] {
  .betteryt.ytp-progress-bar-container {
    display: none;
  }
}

// This is needed to fix youtube update hiding title when first showing miniplayer and actually activating miniplayer
.ytd-miniplayer.title,
yt-formatted-string.miniplayer-title,
yt-formatted-string #owner-name {
  display: unset !important;
}

// TODO: Animations temporarily disabled, need to fix weird behavior when dragging mini player
// Animate miniplayer opening/closing
// ytd-miniplayer {
//   transition: all 0.25s cubic-bezier(0, 0, 0.2, 1) !important;
// }
