body {
  width: 350px;
  background-color: #1f1f1f;
  color: #f2f2f2;
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  padding: 10px;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.selector {
  display: flex;
  align-items: center;

  &:hover {
    background-color: rgba(255, 255, 255, 0.08);
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
}

.title {
  margin-left: 10px;
  font-size: 1.7em;
}

.label {
  margin-left: 5px;
  font-size: 1.3em;

  &:hover {
    cursor: pointer;
  }
}

.sub-label {
  display: block;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 0.9em;
  color: #a9a9a9;
}

input[type='checkbox'] {
  accent-color: #4caf50;

  &:hover {
    cursor: pointer;
  }
}

:root:not([refresh]) .refresh,
:root:not([pip]) #pipDiv {
  display: none;
}
