@media screen and (min-width: 1014px) {
  body[betteryt-theater] {
    #chat {
      position: absolute !important;
      top: 0px !important;
      right: 0px;
      width: var(--ytd-watch-flexy-sidebar-width);
      height: 100vh !important;
      border: none;
      border-radius: 0px;
    }

    #chatframe {
      border-radius: 0px;
    }

    #player-wide-container,
    #full-bleed-container {
      top: 0px;
      left: 0px;
      // width: calc(100% - var(--ytd-watch-flexy-sidebar-width)) !important;
      // max-width: calc(100% - var(--ytd-watch-flexy-sidebar-width)) !important;
      height: 100vh !important;
      max-height: 100vh !important;
    }

    #columns {
      width: 100% !important;
      padding-right: unset !important;
    }

    // Change chat button text to "Exit theater mode"
    #show-hide-button > ytd-toggle-button-renderer {
      border-radius: 0px !important;

      yt-button-shape > button > div {
        span::before {
          content: 'Exit chat theater mode (';
        }

        span::after {
          content: ')';
        }
      }
    }

    & {
      overflow: hidden;
    }

    ytd-app {
      --ytd-masthead-height: 0px !important;
      overflow-x: hidden;
    }

    .ytp-fullerscreen-edu-button {
      display: unset !important;
      position: absolute;
      width: auto;
      left: 50%;
      text-align: center;
      transform: translateX(-50%);
      transition: all 0.25s cubic-bezier(0, 0, 0.2, 1) !important;
      opacity: 0 !important;
      visibility: hidden;
    }

    ytd-app[masthead-hidden] {
      .ytp-fullerscreen-edu-button {
        opacity: 1 !important;
        visibility: visible;
      }
    }

    // Fixes update where #secondary has a position below the video player when in theater mode, breaking theater mode chat
    #secondary {
      position: unset !important;
    }
  }

  // Change chat button text to "Enter theater mode"
  body:not([betteryt-theater]) ytd-watch-flexy[theater] {
    #show-hide-button
      > ytd-toggle-button-renderer
      > yt-button-shape
      > button
      > div {
      span::before {
        content: 'Enter chat theater mode (';
      }

      span::after {
        content: ')';
      }
    }
  }

  // Rotates the theater button when chat is open
  body[betteryt-theater-button] {
    button[aria-keyshortcuts='t'] {
      transform: rotate(90deg);
    }
  }

  // Base case for the theater button rotation animation, if left inside of the above case it will not animate
  button[aria-keyshortcuts='t'] {
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1) !important;
  }

  /* CURRENTLY DISABLED AS DVH SUPPORT IS NOT GREAT AT THE MOMENT */
  /* check for DVH support, this fixs mobile */
  /* @supports (height: 100dvh) {
    body[betteryt-theater] #chat {
      height: 100dvh !important;
    }

    body[betteryt-theater] #player-theater-container {
      height: 100dvh !important;
      max-height: 100dvh !important;
    }
  } */
}
